.legend {
    position: absolute;
    bottom: 20px;
    left: 30px;
    background-color: white;
    padding: 10px;
    max-width: 200px;
    opacity: 0.9;
    z-index: 1000;
    display: none;
}

#loading-overlay {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -60%);
    z-index: 100000;
    display: none;
}

#loading-img {
    width: 200px;
    height: 200px;
    margin-bottom: 50%;
}

#popup-content {
    max-height: 250px;
    overflow-y: auto;
}

.info-modal-text-box {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #f8f9fa; 
}

.info-modal-text-box p {
    margin-bottom: 4px;
}
