.legend {
    position: absolute;
    bottom: 20px;
    left: 30px;
    background-color: white;
    padding: 10px;
    max-width: 200px;
    opacity: 0.9;
    z-index: 1000;
    display: none;
}

#loading-overlay {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -60%);
    z-index: 100000;
    display: none;
}

#loading-img {
    width: 200px;
    height: 200px;
    margin-bottom: 50%;
}