{% extends "tethys_layouts/map_layout/map_layout.html" %}
{% load static %}
{% load tethys %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Help">
    <a data-bs-toggle="modal" data-bs-target="#help-modal"><i class="bi bi-question-circle"></i></a>
  </div>
{% endblock %}

{% block custom_map_tab_panels %}
  <div class="tab-panel show" id="form-tab-panel" role="tabpanel" aria-labelledby="form-tab-toggle">
    <div id="form-container">
      <br>
      <form id="update-form" method="POST">
        <h3>Wildfire Parameters</h3>
        {% csrf_token %}
        {% gizmo SelectInput satellite %}
        {% gizmo SelectInput days %}
        {% gizmo DatePicker date %}
        {% gizmo Button submit_button %}
      </form>
      
    </div>
  </div>
{% endblock %}