{% extends "tethys_layouts/map_layout/map_layout.html" %}
{% load static %}
{% load tethys %}

{% block app_content %}
  {{ block.super }}
  <div id="popup" class="ol-popup">
    <div id="popup-content"></div>
  </div>
  <div id="legend" class="legend"></div>
  <div id="loading-overlay">
    <img id="loading-img" src="{% static 'wildfire_visualizer/images/fire-loading-animation.gif' %}" alt="Loading...">
  </div>
{% endblock %}

{% block map_tabs %}
{% endblock %}

{% block map_tab_panels %}
<div class="tab-panel show" id="form-tab-panel" role="tabpanel" aria-labelledby="form-tab-toggle">
    <div id="form-container">
      <br>
      <form id="update-form" method="POST">
        {% csrf_token %}
        {% gizmo SelectInput satellite %}
        {% gizmo SelectInput days %}
        {% gizmo DatePicker date %}
        {% gizmo SelectInput color_code %}
        {% gizmo Button submit_button %}
      </form>
      
    </div>
  </div>
{% endblock %}
