{% extends "tethys_layouts/map_layout/map_layout.html" %}
{% load static %}
{% load tethys %}

{% block header_buttons %}
  <div class="header-button">
    <a data-bs-toggle="modal" data-bs-target="#infoModal"><i class="bi bi-info"></i></a>
  </div>
{% endblock %}

{% block app_content %}
  {{ block.super }}
  <div id="popup" class="ol-popup">
    <div id="popup-content"></div>
  </div>
  <div id="legend" class="legend"></div>
  <div id="loading-overlay">
    <img id="loading-img" src="{% static 'wildfire_visualizer/images/fire-loading-animation.gif' %}" alt="Loading...">
  </div>
{% endblock %}

{% block map_tabs %}
{% endblock %}

{% block map_tab_panels %}
<div class="tab-panel show" id="form-tab-panel" role="tabpanel" aria-labelledby="form-tab-toggle">
    <div id="form-container">
      <br>
      <form id="update-form" method="POST">
        {% csrf_token %}
        {% gizmo SelectInput satellite %}
        {% gizmo SelectInput days %}
        {% gizmo DatePicker date %}
        {% gizmo SelectInput color_code %}
        {% gizmo Button submit_button %}
      </form>
      
    </div>
  </div>
{% endblock %}

{% block after_app_content %}
  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Wildfire Visualizer Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="info-modal-text-box">
            <p>This application visualizes wildfire data using the FIRMS API from NASA.</p>
            <p><a href="https://firms.modaps.eosdis.nasa.gov/api/">Learn more about the FIRMS API</a>.</p>
          </div>
          <div class="info-modal-text-box">
            <p>Use the form to select the satellite, number of days, date, and color coding options to customize the displayed data.</p>
          </div>
          <div class="info-modal-text-box">
            <p>View the <a href="https://github.com/tethysplatform/tethysapp-wildfire_tracker">source code on GitHub</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}